body {
  font-family: sans-serif;
  background-color: #d3ecfd; }

*, *:before, *:after {
  box-sizing: border-box; }

#figure {
  width: 300px;
  position: absolute;
  bottom: 60px;
  right: -300px; }

#house {
  width: 700px;
  position: absolute;
  bottom: 60px;
  left: -700px;
  z-index: -1; }

.wiggle {
  animation-duration: .33s;
  animation-name: wiggle;
  animation-iteration-count: 3; }

@keyframes wiggle {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(-0.1turn); }
  100% {
    transform: rotate(0); } }
