html {
	min-height: 100%;
}
body {
  font-family: sans-serif;
  background: -webkit-linear-gradient(top, #a1dbff 0%,#cbebff 53%,#f0f9ff 100%);
  background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 53%,#f0f9ff 100%);
  background-position: fixed;
  margin: 0;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}

p {
	padding: 25px;
}

.snowbank {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: -2;
	height: 200px;
	background-color: #fff;
}

#figure {
	width: 300px;
	position: absolute;
	bottom: 60px;
	right: -300px;
	cursor: pointer;
}

#house {
	width: 700px;
	position: absolute;
	bottom: 60px;
	left: -700px;
	z-index: 0;
	cursor: pointer;
}

#group {
	width: 400px;
	position: absolute;
	bottom: 150px;
	left: -400px;
	cursor: pointer;
	z-index: -1;
}

#santa {
	width: 432px;
	position: absolute;
	margin-left: -432px;
	top: 100px;
}

.snowflake {
	position: absolute;
	margin-top: -80px;
}

.behind {
	z-index: -3;
}

.wiggle {
	animation-duration: .33s;
	animation-name: wiggle;
	animation-iteration-count: 3;
}

@keyframes wiggle {
  0%{
    transform: rotate(0);
  }

  50% {
    transform: rotate(-0.1turn);
  }
  
  100% {
	transform: rotate(0);
  }
}
