body {
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  position: relative;
}

$delay: .1s;
$fullDelay: .5s;


.circle {
  transform: rotate(-90deg);
  margin: 100px 250px;
  position: absolute;
}

//animations based on amount of movement from clicked name

.animate--1 {
  transform: rotate(-30deg);
  transition-duration: $fullDelay;
}
.animate--2 {
  transform: rotate(30deg);
  transition-duration: $fullDelay * 2;
}

.animate--3 {
  transform: rotate(90deg);
  transition-duration: $fullDelay * 3;
}

.animate--4 {
  transform: rotate(150deg);
  transition-duration: $fullDelay * 4;
}

.animate--5 {
  transform: rotate(210deg);
  transition-duration: $fullDelay * 5;
}

//for the SVG

.st0{fill:#FFFFFF;}

.st1{fill:#00C1E6;}

.people {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//positions of people's names

.people li {
   margin: 70px 215px;
    width: 470px;
    height: 470px;
    //animation: circle 2s linear;
    transform-origin:50% 235px;
    //border: 1px solid #ccc;
    border-radius: 235px;
  //transform:rotate(90deg);
  position: absolute;
}


.people li:nth-child(1) {
    transform:rotate(60deg);
    &.animate {
      animation: circle1 $delay linear;
      .person-container {
        animation: inner-circle1 $delay linear;
      }
    }
  }
.people li:nth-child(2) {
   transform:rotate(120deg);
    &.animate {
        animation: circle2 $delay linear;
        .person-container {
          animation: inner-circle2 $delay linear;
        }
      }
  }
.people li:nth-child(3) {
    transform:rotate(180deg);
    &.animate {
        animation: circle3 $delay linear;
        .person-container {
          animation: inner-circle3 $delay linear;
        }
      }
  }
.people li:nth-child(4) {
    transform:rotate(240deg);
    &.animate {
        animation: circle4 $delay linear;
        .person-container {
          animation: inner-circle4 $delay linear;
        }
      }
  }
.people li:nth-child(5) {
    transform:rotate(300deg);
    &.animate {
        animation: circle5 $delay linear;
        .person-container {
          animation: inner-circle5 $delay linear;
        }
      }
  }
.people li:nth-child(6) {
    transform:rotate(360deg);
    &.animate {
        animation: circle6 $delay linear;
        .person-container {
          animation: inner-circle6 $delay linear;
        }
      }
  }

//individual people's content

.person {
  display: inline-block;
  text-align: left;
  cursor: pointer;
}
.person__image {
  display: none;
  .people li:nth-child(2) & {
    display: block;
    position: absolute;
    left: -415px;
    top: -20px;
    border-radius: 144px;
  }
}
.person__name {
  color: #004f6f;
  display: block;
  font-size: 1.1em;
  .people li:nth-child(2) & {
    color: #fff;
    display: inline-block;
    font-size: 1.4em;
  }
}

.person__title {
  color: #00c1e6;
  display: block;
  font-size: 1.1em;
  .people li:nth-child(2) & {
    color: #fff;
    display: inline-block;
    font-size: 1.4em;
    &:before {
      content: '|';
      margin-right: 1em;
      margin-left: 1em;
    }
  }
}

.person__bio {
  display: none;
  line-height: 1.5em;
  .people li:nth-child(2) & {
    color: #fff;
    display: block;
  }
}


.person-container {
  position: absolute;
  //border: 1px solid gray;
  display: inline-block;
  //width: 200px;
  //height: 100px;
   
  //border: 1px solid green;
 
  .people li:nth-child(1) & {
    transform:rotate(-60deg);
  }
.people li:nth-child(2) & {
   transform:rotate(-120deg);
  }
.people li:nth-child(3) & {
    transform:rotate(-180deg);
  }
.people li:nth-child(4) & {
    transform:rotate(-240deg);
  }
.people li:nth-child(5) & {
    transform:rotate(-300deg);
  }
.people li:nth-child(6) & {
    transform:rotate(-360deg);
  }
}

//in focus

.bubble {
  position: absolute;
  background-color: #00c1e6;
  color: #fff;
  width: 600px;
  height: 300px;
  left: 685px;
  top: 153px;
  &:before {
    content: '\00A0';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #00c1e6;
    position: absolute;
    left: -40px;
    top: 50%;
    margin-top: -20px;
    
  }
}

.people li:nth-child(2) {
  transform: rotate(0);
  left: 505px;
  top: 110px;
  animation: fadeIn $delay linear;
  .person {
    cursor: default;
  }
  &.animate {
    opacity: 0;
  }
}

.people li:nth-child(2) .person-container {
  width: 550px;
  transform: rotate(0);
  //left: 600px;
  //top: 150px;
}


@keyframes circle6 {
    0% { transform:rotate(0deg); }
    100% { transform:rotate(60deg); }
}

@keyframes circle1 {
    0% { transform:rotate(60deg); }
    100% { transform:rotate(120deg); }
}

@keyframes circle2 {
    0% { transform:rotate(120deg); }
    100% { transform:rotate(180deg); }
}

@keyframes circle3 {
    0% { transform:rotate(180deg); }
    100% { transform:rotate(240deg); }
}

@keyframes circle4 {
    0% { transform:rotate(240deg); }
    100% { transform:rotate(300deg); }
}

@keyframes circle5 {
    0% { transform:rotate(300deg); }
    100% { transform:rotate(360deg); }
}

@keyframes inner-circle6 {
    0% { transform:rotate(0deg); }
    100% { transform:rotate(-60deg); }
}

@keyframes inner-circle1 {
    0% { transform:rotate(-60deg); }
    100% { transform:rotate(-120deg); }
}

@keyframes inner-circle2 {
    0% { transform:rotate(-120deg); }
    100% { transform:rotate(-180deg); }
}

@keyframes inner-circle3 {
    0% { transform:rotate(-180deg); }
    100% { transform:rotate(-240deg); }
}

@keyframes inner-circle4 {
    0% { transform:rotate(-240deg); }
    100% { transform:rotate(-300deg); }
}

@keyframes inner-circle5 {
    0% { transform:rotate(-300deg); }
    100% { transform:rotate(-360deg); }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}